# because the visual studio solution is generated make sure to ignore it
Binaries
DerivedDataCache
Intermediate
Saved
**/ArchivedBuilds/
preprod
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace

*/Managed/**/packages
*/Managed/**/obj
*_BuiltData.uasset
/Components/nginx/logs
*.log
*~.xml
app.aps
node_modules/
/hooks
scc.exe
enc_temp_folder
__deploy
/deploy
/lfs
/Logs
